body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.card {
  background: #1e1e1e;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

h1 {
  color: gold;
}

#points {
  color: #00ff88;
}

button {
  width: 90%;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
.menu {
  margin-top: 20px;
}

.menu button {
  width: 22%;
  margin: 2px;
}
#level {
  color: gold;
  font-size: 24px;
  margin-bottom: 15px;
}
